@import '~@angular/material/theming';

$primary: mat-color(mat-palette($mat-blue));
$accent: mat-color(mat-palette($mat-purple));
$warn: mat-color(mat-palette($mat-purple, 100, 500));

$light-blue: #c2f0ff;
$font_size: 16;
